@import "bootstrap";

//ヘッダーロゴ
.navbar-brand a {
  color: #fff;
}

.navbar-brand :hover {
  text-decoration: none;
  color: #fff;
}

//ヘッダーログインフォーム
.form-group {
  color: #fff;
}

.lead {
  font-size: 0.8rem;
  margin-bottom: 3px;
}

.logincolor {
  color: #fff;
  font-size: 1rem;
  margin-bottom: 3px;
}